{{define "internal"}}
{{template "header" .}}
<div class="navbar navbar-inverse navrbar-fixed-top">
	<div class="container-fluid">
		<div class = "navbar-header">
			<a href="#" class="navbar-brand">137132696</a>
		</div>
		<ul class="nav navbar-nav">
		<li style="width:300px;left:10px;top:10px;"><input type="text" class="form-control" id="search"></li>	
		<li style="top:10px;left:20px;"><button class="btn btn-primary" id="search_btn">Search</button></li> 
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span>Cart<span class="badge">0</span></a>
			<div class="dropdown-menu" style="width:400px;">
				<div class="panel panel-success">
					<div class="panel-heading"></div>
						<div class="row">
							<div class="col-md-3">Product Image</div>
							<div class="col-md-3">Product Name</div>
							<div class="col-md-3">Quantity</div>
							<div class="col-md-3">Price</div>
						</div>
					<div class="panel-body"></div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</li>	
		<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Hi {{.Usr.Fnm}}!</a>
			<ul class="dropdown-menu" style="width:160px;">
				<li><a href="#" style="text-decoration:none; color:blue;">Manage Profile</a></li>
				<li class="divider"></li>
				<li><a href="#" style="text-decoration:none; color:blue;">Change Password</a></li>
			</ul>
		</li>		
		<li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
		</ul>
	</div>
</div>

<!-- 
<div class="alert alert-info" role="alert">
    <h1 class="alert">Welcome! {{.Usr.Usrname}} </h1>
    <hr>

    <strong>Hello User: </strong>
</div>
<div class="jumbotron">
    <div class="container">
        what would you like to do today {{.Usr.Fnm}} {{.Usr.Lnm}} ?
    </div>
</div> 
-->
<p><br/></p>
<p><br/></p>
<p><br/></p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<!-- <div class="col-md-2">	
			<div class="nav nav-pills nav-stacked">
			<li class="active"><a href="#">Mobile Phones</a></li>
			<li class="active"><a href="#"></a>Something</li>
			</div>
		</div>	
		-->
		<div class="col-md-10">
			<div class="panel panel-info">
				<div class="panel-heading">Products</div>
				<div class="panel-body">
					{{with .Prd}}
					{{range .}}	
					<div class="col-md-4">
						<div class="panel panel-info">
							<div class="panel-heading">{{.Pname}}</div>
							<div Class="panel-body">
								<img src="/files/{{.Image}}" alt="HTML5 Icon" style="width:200px;height:200px;">
							</div>
							<div class="panel-heading">&#8377; {{.Price}}
								<button pid="{{.Puid}}" style="float:right;" class="btn btn-danger btn-xs">AddtoCart</button>
							</div>
						</div>
					</div>
					{{end}}
					{{end}}
				</div>
				<div class="panel-footer">Product List</div> </div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>	
</div>

<div class="container">	    
<form action="/logout" method="post">
    <button class="btn btn-warning" type="submit">Logout</button>
</form>
</div> 

<script src="shoppingCart34.js"></script>

<script>

</script>

{{template "footer" .}}
{{end}}

<!--
	<div class="container">

	<table id="Prodlist" style="width:100%">
	<tr>
    <th>Image</th> 		
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>    
	</tr>	
	{{with .Prd}}
    {{range .}}<tr>
        <td><img src="/files/{{.Image}}" alt="HTML5 Icon" style="width:200px;height:200px;"></td>		
        <td>{{.Pname}}</td> 
        <td>{{.Quantity}}</td>
        <td>{{.Price}}</td>  
        <td>
            <button type="button" />Add to Cart</button>
        </td>
    {{end}}</tr>
	{{end}}
	</table>
	</div> 
-->	
